@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    position: relative;
    width: 1440px;
    height: 4782px;

    background: #2C3132;
}


/* ------- Шапка ------- */
.header {
    /* Header */
    position: fixed;
    top: 0;
    width: 1440px;
    height: 126px;
    z-index: 9999;
    
}

.header.dark {
    background: rgba(44, 49, 50, 0.9);
}

.header-picture {
    position: absolute;
    width: 1440px;
    height: 916px;


    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 15.75%,
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(0deg,
            rgba(61, 58, 59, 0.1),
            rgba(61, 58, 59, 0.1));
}

.logo {
    position: absolute;
    width: 196px;
    height: 100px;
    left: 72px;
    top: 13px;
}

.header-menu {
    position: absolute;
    width: 1076px;
    height: 82px;
    left: 292px;
    top: 20px;
}


.header-menu-text {

    font-family: 'Open Sans', SFMono-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.about-company-menu-text {
    position: absolute;
    width: 144px;
    height: 33px;
    left: 2px;
    top: 25px;
}

.services-menu-text {
    position: absolute;
    width: 78px;
    height: 33px;
    left: 233px;
    top: 25px;
}


.portfolio-menu-text {
    position: absolute;
    width: 133px;
    height: 33px;
    left: 396px;
    top: 25px;
}


.prices-menu-text {
    position: absolute;
    width: 65px;
    height: 33px;
    left: 616px;
    top: 25px;
}



.make-order-borders-button-menu {
    box-sizing: border-box;

    position: absolute;
    width: 306px;
    height: 60px;
    left: 770px;
    top: 11px;

    border: 1px solid #FFFFFF;
}

.make-order-text-menu {
    /* Сделать заказ */


    position: absolute;
    width: 164px;
    height: 33px;
    left: 841px;
    top: 25px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

/* ------- Шапка ------- */



/* ------- О компании ------- */

.about-company-frame {
    /* AboutCompany */


    position: absolute;
    width: 1296px;
    height: 790px;


}

.about-company-frame-text {
    /* Мы работаем над каждым проектом индивидуально, 
    чтобы создать 3D модели выского качества */


    position: absolute;
    width: 856px;
    height: 288px;
    left: 0px;
    top: 419px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}

/* ------- О компании ------- */